* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FFFDD0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1.5em 0; /* Utilizzo di unità relative per il padding */
  width: 100%; /* L'header occupa tutta la larghezza */
  height: 80px;
}

header h1 {
  margin: 0;
  font-size: 1.5em; /* Dimensione del testo in unità relative */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  position: relative; /* Posizionamento relativo per consentire lo spostamento */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease; /* Transizione per il cambiamento di colore e ingrandimento */
}

nav ul li a:hover {
  color: #8a2be2; /* Colore viola */
  transform: scale(1.2); /* Ingrandimento del 20% */
  position: relative;
  z-index: 1; /* Porta il collegamento in primo piano */
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Centra il contenuto orizzontalmente */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1.5em 0; /* Utilizzo di unità relative per il padding */
  width: 100%; /* Il footer occupa tutta la larghezza */
  height: 80px;
}

footer p {
  margin: 0;
  font-size: 1.0em;
}


.container1 {
  padding-top: 3fm;
  max-width: 600px;
  text-align: center;
}

#write1 {
  color: #333;
  margin-bottom: 30px; /* Aggiunge del margine inferiore all'h2 */
  padding-top: 2em;
}

.contact-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-icons {
  margin-bottom: 30px; /* Aggiunge più spazio tra le icone dei contatti */
}


.contact-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.contact-icons a:hover {
  color: #8a2be2;
  transform: scale(1.2);
  font-size: 2.2em;
}


/* Stili per schermi di dimensioni superiori a 768px (PC) */
@media (min-width: 769px) {
  /* Aggiusta il layout per schermi di dimensioni superiori a 768px */
  header {
    padding: 20px 0;
  }
  header h1 {
    font-size: 24px;
  }
  footer {
    padding: 20px 0;
  }
  footer p {
    font-size: 1em;
  }
}

/* Stili per schermi di dimensioni inferiori o uguali a 768px */
@media (max-width: 768px) {
  /* Aggiusta il layout per schermi di dimensioni inferiori o uguali a 768px */
  header {
    padding: 10px 0;
  }
  header h1 {
    font-size: 20px;
  }
  footer {
    padding: 10px 0;
  }
  footer p {
    font-size: 0.8em;
  }
}
