* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  position: relative; /* Posizionamento relativo per consentire lo spostamento */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease; /* Transizione per il cambiamento di colore e ingrandimento */
}

nav ul li a:hover {
  color: #8a2be2; /* Colore viola */
  transform: scale(1.2); /* Ingrandimento del 20% */
  position: relative;
  z-index: 1; /* Porta il collegamento in primo piano */
}

main {
  flex-grow: 1;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

.social {
  display: flex;
  align-items: center;
}

.social a {
  margin-right: 10px;
}

.social img {
  width: 30px;
  height: 30px;
}



.container1 {
  padding-top: 2em;
  max-width: 600px;
  margin: auto;
  text-align: center;
  flex: 1;
}

#write1 {
  color: #333;
  margin-bottom: 30px; /* Aggiunge del margine inferiore all'h2 */
}

.contact-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex; /* Utilizza flexbox */
  flex-direction: column; /* Allinea verticalmente gli elementi */
  align-items: center; /* Allinea centralmente gli elementi */
}

.contact-icons {
  margin-bottom: 30px; /* Aggiunge più spazio tra le icone dei contatti */
}


.contact-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.contact-icons a:hover {
  color: #8a2be2;
  transform: scale(1.2);
}

.contact-icons span {
  vertical-align: middle;
  font-size: 1.2em;
}
